# Auth.js v5
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
# AUTH_TRUST_HOST=true   # uncomment when deploying outside Vercel

# Database (Postgres / Neon)
DATABASE_URL=postgres://user:pass@host:5432/webmundial

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
